:root {
  --primary-green: #25c16a;
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
  
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}