.stamp-image-tooltip {
  margin-top: 10px;
}

.stamp-image-tooltip img {
  width: 90%;
  margin-left: -150%;
}

.stamp-image-tooltip-text {
  display: none;
  width: 90px;
  background-color: #ede8e8;
  color: #ce0e0e;
  border-radius: 5px 5px 5px 5px;
  padding: 5px;
  position: absolute;
  margin-top: -25px;
  margin-left: -113px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 20%);
}

.stamp-image-tooltip:hover .stamp-image-tooltip-text {
  display: block;
}