.units {
  display: flex;
  flex-wrap: wrap;
  width: 20%;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
}

.units-change {
  color: var(--primary-green);
  font-weight: bold;
 
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}

.units-count {
  font-weight: bold;
  font-size: 1.5rem;
}
